<div>
  <h1>Main page</h1>
</div>

<div>
  <h4>
    <nav>
      <a routerLink="/" routerLinkActive="active">| Main |</a>
      <a *ngIf="loginService.isAuthenticated()" routerLink="/home" routerLinkActive="active"> Home |</a>
      <a *ngIf="loginService.isAuthenticated()" routerLink="/add-driver" routerLinkActive="active"> Add Driver |</a>
      <a *ngIf="loginService.isAuthenticated()" routerLink="/add-manager" routerLinkActive="active"> Add Manager |</a>
      <a *ngIf="!loginService.isAuthenticated()" routerLink="/login" routerLinkActive="active"> Login |</a>
      <a *ngIf="!loginService.isAuthenticated()" routerLink="/registration" routerLinkActive="active"> Registration |</a>
    </nav>
  </h4>
</div>
<router-outlet></router-outlet>
